/* Dark Mode Only */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(30, 30, 30, 0.85);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/static/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  filter: blur(3px);
  z-index: -1;
}

h1 {
  color: #ffffff;
  margin: 20px 0;
}

h4,
p {
  color: #e0e0e0;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

form {
  margin-top: 20px;
}

input[type="text"],
input[type="password"] {
  margin: 5px;
  padding: 10px;
  width: calc(100% - 22px);
  box-sizing: border-box;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: rgba(50, 50, 50, 0.9);
  color: #ffffff;
}

button,
a {
  padding: 10px 20px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

button:hover,
a:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: rgba(30, 30, 30, 0.95);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #555;
  width: 80%;
  max-width: 300px;
  border-radius: 8px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.hidden-text {
  color: white;
  user-select: none;
}

.radio-group {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.radio-group label {
  margin: 0 10px;
  color: #ffffff;
}
