<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/style.css">
    <title>Warmup</title>
</head>

<body>
    <div class="bg"></div>
    <div class="container">
        <h1>Welcome to Witching Hour</h1>
        <p>Challenge your skills</p>
        <a href="level1"><button>START</button></a>
    </div>
</body>

</html>