<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/style.css">
    <title>Warmup</title>
</head>

<body>
    <div class="bg"></div>
    <div class="container">
        <h1>Google couldn't find it</h1>
        <h4>Can you ?</h4>
        <form action="/check_level2" method="POST" autocomplete="off">
            <input type="text" name="password" required>
            <button type="submit">NEXT</button>
        </form>
    </div>
</body>

</html>