<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/style.css">
    <title>Warmup</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>

<body>

    <div class="bg"></div>
    <div style="display: flex; align-items: center; gap: 2rem;">
        <img src="/static/flag.png" alt="Discord QR code" style="width: 400px; height: auto;">
    </div>
</body>

</html>